{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}Pagos pendientes{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-12 px-4 pb-4">
            <h3 class="primary-title mb-3"><i class="material-icons mr-2">receipt</i>Pagos</h3>

            <div class="ajax-load">
                    <div class="results">
                        {% include 'wallets/payments_query.html' with payments=payments showing_all=showing_all %}
                    </div>
                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>



            <hr class="mt-3">

        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}
<script type="text/javascript">
    $('.table-action').on('click', function(e){
        e.preventDefault();

        return false;
    });
</script>
{% endblock scripts %}