{% if payments %}
<div class="table-responsive card">
<table class="table table-hover" {% if ajax_url %} data-ajax-url="{{ajax_url}}" {% endif %}>
  <thead>
    <tr>
        <th scope="col">Fecha</th>
      <th scope="col">Pagador</th>
        {% if showing_all %}
        <th scope="col">Destinatario</th>
        <th>Estado</th>
        {% endif %}
      <th scope="col">Cantidad total</th>
      <th scope="col">En boniatos</th>
    </tr>
  </thead>
  <tbody>
    {% for payment in payments %}
    <tr data-href="{%url 'payment_detail' payment.pk%}">
      <th scope="row">{{payment.timestamp|date:'d/m/Y H:i'}}</th>

      <td>{{payment.sender}}</td>
        {% if showing_all %}
        <td>{{payment.receiver}}</td>
        <td class="table-actions">
            {% if payment.status == 'accepted' %}<span class="text-success"><i class="material-icons md-36" >play_circle_outline</i> Aceptado</span> {% endif %}
            {% if payment.status == 'pending' %}<span class="text-info"><i class="material-icons md-36" >play_circle_outline</i> Pendiente</span> {% endif %}
            {% if payment.status == 'cancelled' %}<span class="text-danger"><i class="material-icons md-36" >play_circle_outline</i> Cancelado</span> {% endif %}

        </td>
        {% endif %}
      <td class="amount">{{payment.total_amount}}€</td>
      <td class="amount">{{payment.currency_amount}}B</td>
        <td class="table-actions">
            <a href="{%url 'payment_detail' payment.pk%}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="Ver detalles de pago"><i class="material-icons">visibility</i></a>
            {% if payment.status == 'pending' %}
            <a href="#" class="btn btn-outline-primary" data-action="accept" data-toggle="tooltip" data-placement="bottom" title="Aceptar pago"><i class="material-icons">done</i></a>
            <a href="#" class="btn btn-outline-primary" data-action="cancel" data-toggle="tooltip" data-placement="bottom" title="Cancelar pago"><i class="material-icons">clear</i></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
{% else %}
    <div class="text-grey px-3">No tienes ningún pago pendiente de confirmación actualmente.</div>
{% endif %}

{% include 'common/pagination.html' with page=payments %}
