{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva entidad{% else %}{{entity.name}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-12 px-4 pb-4">
            <div class="text-center"><img class="img-fluid" src="{%static '/imgs/icon-payment.png' %}" alt="Pagos pendientes"> </div>
            <h2 class="primary-title mb-4 mt-0">Pagos pendientes</h2>

            {% if pending_payments %}
            <table class="table table-bordered table-hover table-responsive-lg">
              <thead>
                <tr>
                    <th scope="col">Fecha</th>
                  <th scope="col">Pagador</th>
                  <th scope="col">Cantidad total</th>
                  <th scope="col">En boniatos</th>
                </tr>
              </thead>
              <tbody>
                {% for payment in pending_payments %}
                <tr class="link-row" data-href="{%url 'payment_detail' payment.pk%}" data-toggle="tooltip" data-placement="bottom" title="Ver detalles de pago">
                  <th scope="row">{{payment.timestamp}}</th>
                  <td>{{payment.sender}}</td>
                  <td>{{payment.total_amount}} €</td>
                  <td>{{payment.currency_amount}} Boniatos</td>
                    <td>
                        <a href="#" class="table-action rounded-circle" data-toggle="tooltip" data-placement="bottom" title="Aceptar pago"><i class="material-icons">done</i></a>
                        <a href="#" class="table-action rounded-circle" data-toggle="tooltip" data-placement="bottom" title="Cancelar pago"><i class="material-icons">clear</i></a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
                <div class="text-grey px-3">No tienes ningún pago pendiente de confirmación actualmente.</div>
            {% endif %}
            <hr class="mt-3">

        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}
<script type="text/javascript">
    $('.table-action').on('click', function(e){
        e.preventDefault();

        return false;
    });
</script>
{% endblock scripts %}