{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}
{% load i18n %}
{% block title %}Monedero{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

<div class="container px-md-5">
        <div class="row">
            <div class="col-md-7">
                 <div class="card mb-4">
                     <div class="card-body py-4">
                         <div class="row">
                             <div class="col-sm-5" style="border-right:1px solid #ccc;">
                                 {% include 'wallets/wallet_balance.html' with wallet=wallet %}
                             </div>
                             <div class="col-sm-7 pl-4" hidden>
                                 <a href="{% url 'wallets:new_payment' %}" class="btn btn-lg mb-3 btn-primary">Enviar pago</a><br>
                                 <button type="button" class="btn btn-lg disabled">Obtener etics</button>
                             </div>
                         </div>

                     </div>
                 </div>
            </div>

            <div class="col-md-5" hidden>
                {% if pending_payments %}
                    <div class="card mb-4 bg-primary text-light">
                        <div class="card-body py-4 pb-3">
                            <i class="material-icons">error_outline</i> <strong>Atención! </strong>tienes<br><br>
                            <div class="figure">
                                <span class="number text-light">{{pending_payments|length}}</span>
                                <span class="label text-light">
                                    {% blocktrans count payments=pending_payments|length %}
                                    pago pendiente <br>de revisión
                                    {% plural %}
                                    pagos pendientes <br>de revisión
                                    {% endblocktrans %}
                                </span>
                            </div>
                            <a href="{% url 'wallets:pending_payments' %}" class="btn btn-outline-light mt-5">Revisar</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card mb-4 bg-light">
                        <div class="card-body px-5 py-4 pt-5">
                            <i class="material-icons">done_all</i><br><br>
                            <p class="lead primary-title text-dark" >No tienes pagos pendientes de revision</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="card">
            <div class="card-body py-4">
                <h5 class="card-title px-2"><i class="material-icons mr-3 text-primary">swap_horiz</i>Últimos movimientos</h5>
                <div class="ajax-load">
                    <div class="results">
                {% include 'wallets/transaction_logs_query.html' with transactions=transactions %}
                    </div>
                </div>
        </div>
        </div>
</div>


{% endblock%}

{% block scripts %}
<script type="text/javascript">
    $('.table-action').on('click', function(e){
        e.preventDefault();

        return false;
    });
</script>
{% endblock scripts %}