{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva consumidora{% else %}{{person.full_name}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}
<div class="jumbo-header jumbo-entity form" >
    <div class="jumbotron" style="background-image:url('{% static 'css/mes.jpg' %}');">
        <div class="container">
            <h3>{{person.full_name}} {% if person.inactive %} (INACTIVA) {% endif %}</h3>
            {{ person.email }}
        </div>

    </div>
</div>

<div class="container px-md-5 mt-4">
        <div class="card mx-md-5">
          <div class="card-body px-5 pt-0 pb-4">
              <div class="file-field image-field d-inline-block mb-4" data-ref="#profile-image" data-ref-type="image">
                <div class="profile-circle"><img id="profile-image" src="{%if person.profile_image %} {{person.profile_thumbnail.url}}{% endif %}"></div>
            </div>

              {% if person.is_guest_account %}
            <h4 class="card-title mb-0">{{person.full_name}}</h4>
              <h5 class="text-primary">Cuenta invitada</h5>
              {% else %}
              {% if person.is_intercoop %}
              <h5 class="text-primary">Intercooperación</h5>
              {% endif %}
              <h4 class="card-title">{{person.full_name}}</h4>
              {% endif %}
              <div class="card-text">
              <div class="row">
                  <div class="col-md-6 my-2">
                      <label>Nombre</label><br>
                      {{person.name}}
                  </div>

                  <div class="col-md-6 my-2">
                      <label>Apellidos</label><br>
                      {{person.surname}}
                  </div>

                  {% if not person.is_guest_account %}
                  <div class="col-md-6 my-2">
                      <label>NIF/CIF</label><br>
                      {{person.nif}}
                  </div>
                  {% endif %}

                  <div class="col-md-6 my-2">
                      <label>Email</label><br>
                      {{person.email}}
                  </div>

                  <div class="col-md-6 my-2">
                      <label>Dirección</label><br>
                      {{person.address}}
                  </div>

                  <div class="col-md-6 my-2">
                      <label>Fecha de registro</label><br>
                      {{person.registered}}
                  </div>


              </div>

                  {% if request.user.is_superuser %}
                  <div class=" my-2">
                      <label>Número de socia</label><br>
                      {{person.member_id}}
                  </div>

            <hr class="mt-4">
            <h4 class="mb-3">Usuario</h4>
                {% if preregister_user %}
                    <span class="primary-title"><strong>Prerregistro: </strong></span> aún no se ha creado usuario<br>
                    <span class="primary-title"><strong>Enlace: </strong></span>
                <a href="{% settings_value 'BASESITE_URL' %}{% url 'preregister' preregister_user.id %}" style="color:blue;" target="_blank">
                {% settings_value 'BASESITE_URL' %}{% url 'preregister' preregister_user.id %}</a>
                {% else %}
                    <span class="primary-title"><strong>Username:</strong></span>
                    {{ person.user.username }}<br>
                    <span class="primary-title"><strong>Último acceso:</strong></span>
                    {% if entity.user.last_login %} Hace {{person.user.last_login|timesince}}{% else %} Nunca {% endif %}

            {% endif %}
                <h4 class="mt-3">Saldo</h4>
                <span class="display-4"> {{person.user.wallet.balance|floatformat:2}}<i class="currency-icon"></i><a href="{% url 'wallets:wallet_detail' person.user.wallet.pk %}" class="btn ml-2">Ver movimientos</a></span>

            {% endif %}


            </div>

          </div>
            {% if can_edit %}
            <div class=" action-btns top">
                <a class="btn btn-primary btn-float btn-lg" href="{% url 'profile_edit' person.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Editar perfil"><i class="material-icons">edit</i></a>
             </div>
            {% endif %}
        </div>

</div>
{% endblock%}

{% block scripts %}

{% endblock scripts %}