{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva entidad{% else %}{{offer.title}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}
<div class="jumbo-header jumbo-entity form" >
    <div class="jumbotron" style="background-image:url('{% static 'css/mes.jpg' %}');">
        <div class="container">
            <h3>{{person.full_name}}</h3>
            {{ person.email }}
        </div>

    </div>
</div>

<div class="container px-md-5 mt-4">
        <div class="card mx-md-5">
          <div class="card-body px-5 pt-0 pb-4">
              <div class="file-field image-field d-inline-block mb-4" data-ref="#profile-image" data-ref-type="image">
                <div class="profile-circle"><img id="profile-image" src="{%if person.profile_image %} {{person.profile_thumbnail.url}}{% endif %}"></div>
            </div>

              {% if person.is_guest_account %}
            <h4 class="card-title mb-0">{{person.full_name}}</h4>
              <h5 class="text-primary">Cuenta invitada</h5>
              {% else %}
              <h4 class="card-title">{{person.full_name}}</h4>
              {% endif %}
              <div class="card-text">
              <div class="row">
                  <div class="col-md-6 my-2">
                      <label>Nombre</label><br>
                      {{person.name}}
                  </div>

                  <div class="col-md-6 my-2">
                      <label>Apellidos</label><br>
                      {{person.surname}}
                  </div>

                  <div class="col-md-6 my-2">
                      <label>NIF/CIF</label><br>
                      {{person.nif}}
                  </div>

                  <div class="col-md-6 my-2">
                      <label>Email</label><br>
                      {{person.email}}
                  </div>

                  <div class="col-md-6 my-2">
                      <label>Dirección</label><br>
                      {{person.address}}
                  </div>

                  <div class="col-md-6 my-2">
                      <label>Fecha de registro</label><br>
                      {{person.registered}}
                  </div>


              </div>


            </div>

          </div>
            {% if can_edit %}
            <div class=" action-btns top">
                <a class="btn btn-primary btn-float btn-lg" href="{% url 'profile_edit' person.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Editar perfil"><i class="material-icons">edit</i></a>
             </div>
            {% endif %}
        </div>

</div>
{% endblock%}

{% block scripts %}

{% endblock scripts %}