{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva consumidora{% else %}{{person.full_name}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

<form method="POST" class="post-form gallery-form" enctype="multipart/form-data">
    {% csrf_token %}

<div class="jumbo-header jumbo-entity form" >
    <div class="jumbotron" style="background-image:url('{% static 'css/mes.jpg' %}');">
        <div class="container">
            <h3>{{person.full_name}}</h3>
            {{ person.email }}
        </div>

    </div>
</div>

<div class="container px-md-5 mt-4">
        <div class="card mx-md-5" >



          <div class="card-body px-5 pt-0 pb-4">

              <div class="file-field image-field d-inline-block mb-4" data-ref="#profile-image" data-ref-type="image">
                            <div class="profile-circle"><img id="profile-image" src="{%if person.profile_image %} {{person.profile_thumbnail.url}}{% endif %}"></div>
                            <div class="btn btn-primary btn-float" data-toggle="tooltip" data-placement="bottom" title="Actualizar imagen">
                                <span><i class="material-icons">insert_photo</i></span>
                                {{form.profile_image}}
                            </div>
                        </div>

                  {{form.form_errors}}
    {{form.media}}

            <h4 class="card-title">{{person.full_name}}</h4>
            <div class="card-text">
                <p>
                    <label>{{form.nif.label}}</label>
                    {{form.nif}}
                </p>
                <p>
                    <label>{{form.name.label}}</label>
                    {{form.name}}
                </p>
                <p>
                    <label>{{form.surname.label}}</label>
                    {{form.surname}}
                </p>
                <p>
                    <label>{{form.email.label}}</label>
                    {{form.email}}
                </p>
                <p>
                    <label>{{form.address.label}}</label>
                    {{form.address}}
                </p>

            </div>

              <div class="description text-center">
                <button type="submit" class="right-margin left-margin btn btn-primary btn-lg">{% if is_new %} Crear consumidora {% else %} Guardar {% endif %}</button>
            </div>
          </div>

            {% if can_edit %}
            <div class=" action-btns top">
            <button type="submit" class="btn btn-primary btn-float btn-lg" href="#" data-toggle="tooltip" data-placement="bottom" title="Guardar cambios"><i class="material-icons">save</i></button>
            </div>
            {% endif %}
        </div>
</div>

    </form>

{% endblock%}

{% block scripts %}

{% endblock scripts %}