{% extends "base.html" %}
{% load static %}
{% load qr_tags %}
{% load i18n %}
{% block title %}Perfil{% endblock%}

{% block content %}
<div class="container">
    <div class="row">

        {% if type == 'person' %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if person.profile_image %}
                <div class="card-top-img" style="background-image:url('{{person.profile_image.url}}')"></div>
                {% endif %}
                <div class="card-body" href="{% url 'entity_detail' person.pk %}">
                    <div class="card-title primary-title mb-0"><h3 class="mb-0"><i class="ic ic-entity"></i> Mi perfil</h3></div>
                    <div class="card-text text-dark">
                    {% if person %}
                        <p class="lead my-0"> {{ person.full_name }}</p>
                        {{person.email}}
                    {% endif %}
                    </div>
                    <a class="btn btn-primary btn-float btn-lg" data-toggle="tooltip" data-placement="bottom" title="Editar perfil" href="{% url 'profile_edit' person.pk %}"><i class="material-icons">mode_edit</i></a>

                </div>

                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" href="{% url 'member_card' %}"><i class="material-icons-outlined">chevron_right</i> Mi carnet de socia</a>
                    <a class="list-group-item list-group-item-action disabled" href="#"><i class="material-icons">chevron_right</i> Ver entidades favoritas</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if type == 'entity' %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if entity.first_photo_url %}
                <div class="card-top-img" style="background-image:url('{{entity.first_photo_url}}')"></div>
                {% endif %}
                <div class="card-body" href="{% url 'entity_detail' entity.pk %}">
                    <div class="card-title primary-title mb-0"><h3 class="mb-0"><i class="ic ic-entity"></i> Mi entidad</h3></div>
                    <div class="card-text text-dark">
                    {% if entity %}
                        <p class="lead my-0"> {{ entity }}</p>
                        {{entity.address}}
                    {% endif %}
                    </div>
                    <a class="btn btn-primary btn-float btn-lg" data-toggle="tooltip" data-placement="bottom" title="Editar entidad" href="{% url 'entity_edit' entity.pk %}"><i class="material-icons">mode_edit</i></a>

                </div>

                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" href="{% url 'member_card' %}"><i class="material-icons-outlined mr-2">perm_contact_calendar</i> Mi carnet de socia</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'entity_balance' entity.pk %}"><i class="material-icons-outlined mr-2">favorite</i> Ver balance social</a>
                    <a class="list-group-item list-group-item-action disabled" href="#"><i class="material-icons mr-2">bar_chart</i> Ver estadísticas de favoritos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="card mb-4">
                <div class="card-body pb-0">
                    <div class="card-title primary-title"><h3><i class="material-icons-outlined mr-1">eco</i> Ventajas</h3></div>
                    {% if not entity.benefit %}
                    <div class="card-text text-dark figure pt-2"><p class="label mb-0"> No ofreces ventajas</p></div>
                    <div class="clearboth">Para añadirlas ponte en contacto con  <a href="mailto:madrid@mercadosocial.net">madrid@mercadosocial.net</a></div>
                {% endif %}

                </div>

                 <div class="list-group list-group-flush">
                 {% if entity.benefit %}
                     <a class="list-group-item list-group-item-action" href="{% url 'user_benefit' %}"><i class="material-icons mr-2">recommend</i> Ver ventajas publicadas</a>
                 {% else %}
                     <a class="list-group-item list-group-item-action disabled" href="#"><span class="material-icons-outlined mr-2">recommend</span> Ver ventajas publicadas</a>
                 {% endif %}
                    <a class="list-group-item list-group-item-action bg-secondary" href="{% url 'member_check_form' %}"><i class="material-icons mr-2">qr_code_scanner</i> Comprobar estado de socia</a>
                  </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title primary-title"><h3><i class="ic ic-news mr-2"></i> Ofertas</h3></div>
                    <div class="figure">
                        <span class="number">{{num_offers}}</span>
                        <span class="label">ofertas <br/>activas</span>
                    </div>
                </div>

                 <div class="list-group list-group-flush">
                     <a class="list-group-item list-group-item-action" href="{% url 'user_offers' %}"><i class="material-icons">chevron_right</i> Ver ofertas publicadas</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'add_entity_offer' entity.pk %}"><i class="material-icons">chevron_right</i> Publicar nueva oferta</a>

                  </div>
            </div>

        </div>
        {% endif %}
        <div class="{% if type == 'entity' %}col-md-4{% else %}col-md-6{% endif %}">
            <div class="card mb-4">
                <div class="card-body">

                {% if type == 'person' %}
                    Como se decidió en la asamblea de 2022, comenzamos una transición de los etics con el fin de su desaparición. Por este motivo, desde el 1 de noviembre de 2023 se ha deshabilitado el uso de esta moneda social. Sin embargo, puedes acceder a otras ventajas de consumo a través de nuestras apps para <a href="https://apps.apple.com/es/app/mercado-social/id1458549528">iOS</a> y <a href="https://play.google.com/store/apps/details?id=net.mercadosocial.moneda">Android</a>.
                {% endif %}
                {% if type == 'entity' %}
                    Como se decidió en la asamblea de 2022, comenzamos una transición de los etics con el fin de su desaparición. Por este motivo, desde el 1 de noviembre se ha deshabilitado el uso de esta moneda social. Las entidades podréis solicitar la devolución de vuestro saldo de etics a través del pago de cuotas de los próximos años. Si tenéis dudas escribid a este correo para informaros sobre el procedimiento con más detalles: <a href="mailto:administracion.madrid@mercadosocial.net">administracion.madrid@mercadosocial.net</a>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="{% if type == 'entity' %}col-md-4{% else %}col-md-6{% endif %}" hidden>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title primary-title"><h3><i class="ic ic-wallet"></i> Saldo</h3></div>
                    <div class="figure">
                        <span class="number">{{balance|floatformat:2}}</span>
                        <span class="label">etics</span>
                    </div>
                </div>

                 <div class="list-group list-group-flush">
                     {% if pending_payments %}
                     <a class="list-group-item list-group-item-action bg-primary text-light" href="{% url 'wallets:pending_payments' %}">
                         <i class="material-icons">error_outline</i>
                         {% blocktrans count payments=pending_payments|length %}
                        {{payments}} pago pendiente de revisión
                        {% plural %}
                        {{payments}} pagos pendientes de revisión
                        {% endblocktrans %}
                     {% endif %}

                     {% if sent_pending %}
                     <a class="list-group-item list-group-item-action bg-warning" href="{% url 'wallets:pending_payments' %}">
                         <i class="material-icons">schedule</i>
                         {% blocktrans count payments=sent_pending|length %}
                        Tienen que revisarte {{payments}} pago
                        {% plural %}
                        Tienen que revisarte {{payments}} pagos
                        {% endblocktrans %}
                     {% endif %}
                    <a class="list-group-item list-group-item-action" href="{% url 'wallets:user_wallet' %}"><i class="material-icons mr-2">query_stats</i> Consultar movimientos</a>
                    <a class="list-group-item list-group-item-action" href="{% url 'wallets:new_payment' %}"><i class="material-icons-outlined mr-2">send</i> Enviar pago</a>
                     <a class="list-group-item list-group-item-action disabled" href="#"><i class="material-icons mr-2">payments</i> Obtener etics</a>
                  </div>
            </div>
        </div>

    </div>

    
    {% if type == 'entity' %}
    <div class="row" hidden>
        <button type="button" class="fab btn btn-primary btn-lg rounded-circle px-3 py-4"  data-toggle="modal" data-target="#qrModal">
          <i class="fa fa-qrcode fa-2x" data-toggle="tooltip" data-placement="bottom" title="Ver QR de entidad"></i>
        </button>

    </div>
    {% endif %}
</div>

{% if type == 'entity' %}
<div class="modal  fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header pb-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="qr-container">
            {% qr_from_text entity.qr_code "l" %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}


{% block toast_messages %}
    {% if permission_error %}
        <div class="toast">
            {% if permission_error == '/entity/add' %} No tienes permisos para añadir nuevas entidades {% endif %}
            {% if permission_error == '/entities/' %} No tienes permisos para consultar la lista de entidades {% endif %}
            {% if permission_error == '/wallets' %} No tienes permisos para ver movimientos {% endif %}
        </div>
    {% endif %}
{% endblock toast_messages %}