{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Boniatos-server{% endblock%}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card mb-4">
                {% if entity.first_photo_url %}
                <div class="card-top-img" style="background-image:url('{{entity.first_photo_url}}')"></div>
                {% endif %}
                <a class="card-body" href="{% url 'entity_detail' entity.pk %}">
                    <div class="card-title primary-title mb-0"><h3 class="mb-0"><i class="ic ic-entity"></i> Mi entidad</h3></div>
                    <div class="card-text text-dark">
                    {% if entity %}
                        <p class="lead my-0"> {{ entity }}</p>
                        {{entity.address}}
                    {% endif %}
                    </div>

                </a>
                <a class="btn btn-primary btn-float btn-lg" data-toggle="tooltip" data-placement="bottom" title="Editar entidad" href="{% url 'entity_edit' entity.pk %}"><i class="material-icons">mode_edit</i></a>
            </div>

        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title primary-title"><h3><i class="ic ic-wallet"></i> Saldo</h3></div>
                    <div class="figure">
                        <span class="number">25,21</span>
                        <span class="label">boniatos</span>
                    </div>
                </div>

                 <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" href="#"><i class="material-icons">chevron_right</i> Consultar movimientos</a>
                    <a class="list-group-item list-group-item-action" href="#"><i class="material-icons">chevron_right</i> Nueva transferencia</a>
                     <a class="list-group-item list-group-item-action" href="#"><i class="material-icons">chevron_right</i> Obtener boniatos</a>
                  </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title primary-title"><h3><i class="ic ic-news"></i> Ofertas</h3></div>
                    <div class="figure">
                        <span class="number">{{num_offers}}</span>
                        <span class="label">ofertas <br/>activas</span>
                    </div>
                </div>

                 <div class="list-group list-group-flush">
                     <a class="list-group-item list-group-item-action" href="#"><i class="material-icons">chevron_right</i> Ver ofertas publicadas</a>
                    <a class="list-group-item list-group-item-action" href="#"><i class="material-icons">chevron_right</i> Publicar nueva oferta</a>

                  </div>

            </div>
        </div>


    </div>
</div>
{% endblock content %}