<table class="table table-bordered table-hover" {% if ajax_url %} data-ajax-url="{{ajax_url}}" {% endif %}>
  <thead>
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">Email</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
{% for profile in profiles %}
    <tr data-id="{{user.pk}}">
        <td> {% if profile.user.is_registered %}
                {% if profile.is_guest_account %}
                    <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Invitada">card_membership</i>
                {% else %}
                    <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Registrada">done_all</i>
                {% endif %}

                <span class="text-muted" >{{profile.user}}</span></td>
            {% else %}
                <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Pendiente registro">schedule</i>
                <span class="text-muted" >Prerregistro</span></td>
            {% endif %}
      <td>{{profile.full_name}}</th>
        <td>{{profile.email}}</td>
        <td  class="table-actions">
            <a class="btn btn-outline-primary" href="{% url 'profile_detail' profile.pk %}" style="min-width:0;" data-toggle="tooltip" data-placement="bottom" title="Ver detalle"><i class="material-icons">visibility</i></a>
            <a class="btn btn-outline-primary" href="{% url 'profile_edit' profile.pk %}" style="min-width:0;" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="material-icons">mode_edit</i></a>
        </td>
    </tr>
{% empty %}
    <tr>
      <td colspan="4">No hay consumidoras que cumplan los criterios de búsqueda...</td>
    </tr>

{% endfor %}
      </tbody>
</table>

{% include 'common/pagination.html' with page=profiles %}