{% extends 'common/list/base.html' %}

 {% block table_head %}
    <th scope="col">Usuario</th>
      <th scope="col">Email</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
{% endblock %}


{% block item_row %}



        <td> {% if item.user.is_registered %}
                {% if item.is_guest_account %}
                    <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Invitada">card_membership</i>
                {% else %}
                    <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Registrada">done_all</i>
                {% endif %}

                <span class="text-muted" >{{item.user}}</span></td>
            {% else %}
                <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Pendiente registro">schedule</i>
                <span class="text-muted" >Prerregistro</span></td>
            {% endif %}
      <td>{{item.full_name}}</th>
        <td>{{item.email}}</td>
        <td  class="table-actions">
            <a class="btn btn-outline-primary" href="{% url 'profile_detail' item.pk %}" style="min-width:0;" data-toggle="tooltip" data-placement="bottom" title="Ver detalle"><i class="material-icons">visibility</i></a>
            <a class="btn btn-outline-primary" href="{% url 'profile_edit' item.pk %}" style="min-width:0;" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="material-icons">mode_edit</i></a>
        </td>

{% endblock %}