{% extends 'common/email/base.html' %}
{% load settings_value %}

{% block title %}Registro{% endblock %}

{% block maintitle %}Reestablecer contraseña{% endblock %}

{% block content %}

<h2 style="color: #757575; line-height: 100%;">Hola,</h2>

<p>Recibes este email porque has solicitado reestablecer la contraseña para tu cuenta en la app del Mercado Social de Madrid.</p>
<p>Para ello, entra en el enlace a continuación e introduce una nueva contraseña.</p>
<p></p>
<p>Si no has solicitado cambiar tu contraseña, puedes ignorar este email.</p>
<p></p>

{% endblock%}

{% block call_button %}

{% url 'password_reset_confirm' uidb64=uid token=token as link %}
{% settings_value 'BASESITE_URL' as basesite %}

{% include 'common/email/button.html' with link_text='Cambiar contraseña' link_href=basesite|add:link %}
{% endblock call_button %}