{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}

{% block title %}Categoría{% endblock%}




{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}


<div class="container px-md-5">
    <div class="card mx-lg-5 mb-4 p-3">
        <div class="card-body">
            <form method="POST" class="post-form gallery-form" enctype="multipart/form-data">
    {% csrf_token %}
            <div class="card-title primary-title"><h3><i class="material-icons mr-1" style="color:{{category.color}};">label</i> {%if is_new %}Nueva categoría{%else%}Editar categoría{%endif%}</h3></div>
            {{form.media}}

                {{form.as_p}}

            <div class="description text-center pt-5">
                <button type="submit" class="right-margin left-margin btn btn-primary btn-lg">{% if is_new %} Crear oferta {% else %} Guardar {% endif %}</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}


{% block extra_styles %}
<link rel='stylesheet' href="{% static 'css/jquery.spectrum.css' %}" />
{% endblock extra_styles %}

{% block scripts %}
<script src="{% static 'js/jquery.spectrum.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $('.color-widget').wrap('<div class="color-container"></div>').spectrum({ preferredFormat: "hex"}).show();

    });
</script>
{% endblock scripts %}