.member_card{
    font-size:20px;
    width:450px;
    height:600px;
    border:3px solid #b0b907;
    position:relative;
    margin:auto;
    background:#fff;
}
.member_info{
    position:absolute;
    left:35%;
    top:30px;
    width:60%;
    z-index:5;
}
.member_profile{
    position:absolute;
    left:5%;
    width:110px;
    height:110px;
    top:30px;
    background:#adadad;
    border-radius:100%;
    overflow:hidden;
}
.member_profile img{
    width:100%;

}
.member_type{
    padding:0.2em 0.5em;
    margin:0.3em 0;
    background-color:#f78154;
    color:#fff;
    font-weight:bold;
    display:inline-block;
}

.member_name{
    font-weight:bold;
    font-size:1.3em;
    line-height:0.65em;
}
.member_id{
    font-size:0.9em;
    font-weight:bold;
    color:#6d6d6d;
    line-height:0.65em;
}

.member_qr{
    position:absolute;
    bottom:120px;
    width:100%;
    z-index:1;
}
.member_qr img{
    width:75%;
    display:block;
    margin:auto;
}

.mesm_footer{
    position:absolute;
    bottom:30px;
    width:100%;
    z-index:5;
}

.mesm_footer img{
    max-width:55%;
    margin:auto;
    display:block;
}