html,body{ min-height:100%; }
.map{
    width:100%;
    background:#ddd;
    min-height:280px;
}
body{ background-color:#fafafa; }
h1, h2, h3, h4, .primary-title{
    font-family: 'Comfortaa', cursive;
}
.text-grey{ color:#9d9d9d !important; }
.dropdown-menu-right { right: 0; left: auto; }
.link-row{ cursor:pointer; }
.primary-title{ color:#912991; }
#main-content{
    padding: 2em 0;
}
.btn-float.btn-small{
    width:2.6rem; height:2.6rem;line-height:2.6rem;
}
.file-field { position:relative; }
.file-field .form-photo .thumb{
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
.file-field input[type=file]:hover{ cursor:pointer;}
.file-field .profile-circle{
    width:100px;
    height:100px;
    margin-top:-40px;
    z-index:100;
}
.file-field .btn{
    position:absolute;
    bottom:0;
    cursor:pointer;
    left:70px;
    z-index:120;
}
.gallery-form-photo, .add-row{
    float: left;
    margin-right:14px;
    margin-bottom:14px;
    text-align:center;
    vertical-align:top;
    width: 120px;
    height:120px;
    overflow:hidden;
    background-color:#ddd;
    position:relative;
}
.gallery-form-photo .btn-float{
    position:absolute;
    right:-0.3rem;
    top:-0.3rem;
    left:auto;
}
.form-photo.uploaded i.upload{
    display:none;
}

.form-photo > i, .add-row > i{
    font-size:45px;
    position:absolute;
    width:100%;
    text-align:center;
    left:0;
    top:50%;
    margin-top:-18px;
}

#top-bar{
    background-color:#A7CE05;
}
#menu-nav{
    background-color:#C6E504 ;
    box-shadow: 0 2px 7px rgba(0,0,0,0.14);
}
#menu-nav .nav-tabs{
    width:100%;
}

.nav-tabs .nav-link.active {
    color: #912991;
}
.nav-tabs .nav-link::before{ background-color:#912991; }

.nav-tabs .nav-link i.material-icons{
    font-size: 30px;
    height: 24px;
    color:#912991;
}
.jumbo-header{ margin-top:-2em; }
.jumbo-header .jumbotron{
    background-color:#C6E504 ;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.jumbo-header.jumbo-entity .jumbotron{
    min-height:35vh;
    position:relative;
    color:#fff;
    z-index:3;
}
.jumbo-header.jumbo-entity.minimal .jumbotron{
    min-height:auto;
}
.jumbo-header.jumbo-entity.form .jumbotron{
    min-height:auto;
    padding-top:2rem;
    padding-bottom:7rem;
}
.jumbo-header.jumbo-entity.form + .container > .card{
    margin-top:-5rem;
    z-index:5;
}
.jumbo-header.jumbo-entity .jumbotron:before{
    content:'';
    z-index:-1;
    width:100%;
    height:25vh;
    position:absolute;
    display:block;
    left:0;
    top:0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.jumbotron, .jumbotron .container{
    position:relative;
}
.jumbotron .container.action-btns{
    position:absolute;
    text-align:right;
    margin:auto;
    left:0;
    right:0;
    bottom:0;
    bottom:-1.5rem;
    padding-right:2rem;
}
.card .card-img-top + .container.action-btns{
    position:relative;
    text-align:right;
    margin:auto;
    margin-top:-2rem;
    padding-right:2rem;
}
.card .action-btns.outside{
    position:absolute;
    bottom:-1.5rem;
    right:1em;
}
.card .action-btns.top{
    position:absolute;
    top:-1.5rem;
    right:1.5rem;
}
.ic{ display: inline-block; background: url('icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; width: 24px; height: 24px;     vertical-align: middle;
    top: -2px;
    left: -2px;
    margin-right: 3px;
    position: relative;}
.ic.ic-entity { background-position: -3px -0px;  }
.ic.ic-home { background-position: -30px -0px; }
.ic.ic-news { background-position: -3px -27px;  }
.ic.ic-wallet { background-position: -30px -27px; }

#login-page{
    background-image: url('mes.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
.card .card-top-img{
    height:140px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.card .card-body{ position:relative; }
.card .card-body > .btn-float{
    position:absolute;
    bottom:-2rem;
    right:1rem;
    z-index:5;
}
.figure .number{
    display: inline-block;
    font-size:3rem;
    font-family: 'Comfortaa', cursive;
    margin-top:-1rem;
    color:#555;
    vertical-align:bottom;
    padding-right:12px;
}
.figure .label{
    position:relative;
    top:-1rem;
    display:inline-block;
    vertical-align:bottom;
    line-height:1.3rem;
    color:#555;
    font-size:1.2rem;
}
.marker-wrapper{
    position:absolute;
}
.marker-wrapper:before{
    width: 0;
    height: 0;
    content:'';
    border-color: inherit;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 14px solid;
    position:absolute;
    top:-10px;
    left:-9px;
    z-index:5;
}
.marker{
    height:50px;
    width:50px;
    border:2px solid #912991;
    border-color:inherit;
    border-radius:100%;
    position:absolute;
    overflow:hidden;
    text-align:center;
    background-color:#ddd;
    margin-left:-25px;
    margin-top:-62px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.4);
}
.marker img{
    height:100%;
    width:auto;
    min-width: 100%;
    top: 50%;
    left: 50%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.feature{ text-align:center; }
.feature span{
    display:block;
    height:1.2rem;
    font-family: 'Comfortaa', cursive;
    text-transform:uppercase;
    font-size:0.9em;
}
.gallery{ overflow:auto; clear:both;}
.gallery > a{
    float:left;
    width:110px;
    height:110px;
    margin:5px;
    overflow:hidden;
    background-color:#A7CE05;
}
.gallery > a > img{
    width:100%;
    height:auto;
    transition: all 0.4s;
}
.gallery > a:hover > img{
    opacity:0.8;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
}
.social-links a{ margin-right:7px;}
.social-links a{ line-height: 3.9rem; }
.social-links .fa{ font-size:1.6rem; }
.table-action{
    width:35px;
    height:35px;
    text-align:center;
    line-height:35px;
    display:inline-block;
    vertical-align:middle;
    margin-top:-9px;
}
.table-action:hover{ background-color:#d7d7d7; }

.qr-container img{ width:45vw; }
.fab{
    position:fixed;
    bottom:3rem;
    right:3rem;
}
.table tbody td.amount{
    font-size:1.2em;
    font-family:'courier';
    text-align:right;
}
.table tbody td.amount.positive{ color: #36932f; }
.table tbody td.amount.negative{ color: #cb1d1d; }

.toast-messages{
    position:fixed;
    bottom:0;
    right:0;
    padding:1.3rem;
    z-index:100;
}
.toast-messages .toast{
    padding:1.5rem;
    background-color:rgba(0,0,0,0.7);
    color:#fff;
    margin-bottom:1em;
    border-radius:2rem;
}
.loading-spinner{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-75px;
    margin-left:-75px;
    display:none;
}
.loading-container{
    opacity:0.6;
    position: relative;
}
.loading-container .loading-spinner{
    display:block;
}

.page-item.active .page-link{
    background-color: #C6E504;
}

.table tbody td.entity-td{
    padding-left:80px;
    height:70px;
    position:relative;
}
.profile-circle{
    width: 140px;
    height: 140px;
    overflow: hidden;
    text-align:center;
    line-height:140px;
    border-radius: 50%;
    background-color:#ddd;
    position:relative;
}
.profile-circle.small{
    width:60px;
    height:60px;
    line-height:60px;
}
.profile-circle img {
    height:100%;
    width:auto;
    min-width: 100%;
    vertical-align:top;
    top: 50%;
    left: 50%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
td.entity-td .profile-circle{
    position:absolute;
    top:50%;
    left:18px;
    height:50px;
    width:50px;
    line-height:50px;
    margin-top:-25px;
}

@media (min-width: 992px){
    .navdrawer-permanent-lg + #main-content, .navbar-drawer .container{
        margin-left:17.9rem;
    }
}
.navdrawer-permanent-lg ~ #top-bar{
    margin-left:17.9rem;
}

@media (max-width: 992px){
    .navbar-toggler.always-show{
        display:block;
    }
}

@media (max-width: 992px){
    .navbar-toggler.always-show[aria-expanded="true"]{
        margin-left:18.5rem;
        z-index:200;
    }
}
@media (max-width: 380px){
    .navbar-toggler.always-show[aria-expanded="true"]{
        margin-left: calc(100% - 2.2rem);
    }
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
.mes-loader{
    display:block;
    width:150px;
    height:150px;
    background-image:url('mes-loader.png');
    background-repeat:no-repeat;
    background-position:center;
     -webkit-animation:spin 1.2s linear infinite;
    -moz-animation:spin 1.2s linear infinite;
    animation:spin 1.2s linear infinite;
    margin:auto;
    opacity:0.7;
}

.color-container{ position:relative; }
.color-container > * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
-webkit-tap-highlight-color: transparent;
}
.color-container > .sp-replacer{
    position:absolute;
    right:0;
    top:0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{ border:none; padding-right:0; }
.tag-selected{ padding: 2px 10px 3px 10px; border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    color:#fff;
}
.tags_declaration{ display:none; }
.tag-bulleted span{ box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); display:inline-block; margin-right:5px; border-radius:50%; width:12px; height:12px; background-color:#444;  }
.tag-image .profile-circle{ margin-right:10px; display:inline-block; width:40px; height:40px; vertical-align:middle; border-width:1px; }

.select2-container .select2-selection--multiple .select2-selection__rendered{ overflow: visible; }

.graph{ width:100%;}

.btn.narrow{
    min-width:auto;
}
td.table-actions{
    width: 1%;
    white-space: nowrap;
}
td.table-actions a.btn{
    padding-left:0.4rem;
    padding-right:0.4rem;
    border-radius:1rem;
    min-width:0;
}

.social-links .input-group-addon{ width:3.3rem; text-align:center; color:#9c27b0; }
.navdrawer-nav .nav-link.active, .navdrawer-nav .nav-link:active {
    color: #99bb14;
}

.alert ul.errorlist{
    list-style:none;
    margin:0;
    padding:0;
}