html,body{ min-height:100%; }
.map{
    width:100%;
    background:#ddd;
    min-height:280px;
}
body{ background-color:#fafafa; }
h1, h2, h3, .primary-title{
    font-family: 'Comfortaa', cursive;
}
.dropdown-menu-right { right: 0; left: auto; }

.primary-title{ color:#912991; }
#main-content{
    padding: 2em 0;
}
.gallery-form-photo, .add-row{
    float: left;
    margin-right:14px;
    margin-bottom:14px;
    text-align:center;
    vertical-align:top;
    width: 120px;
    height:120px;
    overflow:hidden;
    background-color:#ddd;
    position:relative;
}

.gallery-form-photo i, .add-row i{
    font-size:45px;
    position:absolute;
    width:100%;
    text-align:center;
    left:0;
    top:50%;
    margin-top:-18px;
}

.file-field .form-photo .thumb{
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;

}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
.file-field input[type=file]:hover{ cursor:pointer;}
#top-bar{
    background-color:#A7CE05;
}
#menu-nav{
    background-color:#C6E504 ;
    box-shadow: 0 2px 7px rgba(0,0,0,0.14);
}
#menu-nav .nav-tabs{
    width:100%;
}

.nav-tabs .nav-link.active {
    color: #912991;
}
.nav-tabs .nav-link::before{ background-color:#912991; }

.jumbo-header{ margin-top:-2em; }
.jumbo-header .jumbotron{
    background-color:#C6E504 ;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.jumbo-header.jumbo-entity .jumbotron{
    min-height:35vh;
    position:relative;
    color:#fff;
    z-index:3;
}
.jumbo-header.jumbo-entity .jumbotron:before{
    content:'';
    z-index:-1;
    width:100%;
    height:25vh;
    position:absolute;
    display:block;
    left:0;
    top:0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.ic{ display: inline-block; background: url('icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; width: 24px; height: 24px;     vertical-align: middle;
    top: -2px;
    left: -2px;
    margin-right: 3px;
    position: relative;}
.ic.ic-entity { background-position: -3px -0px;  }
.ic.ic-home { background-position: -30px -0px; }
.ic.ic-news { background-position: -3px -27px;  }
.ic.ic-wallet { background-position: -30px -27px; }

#login-page{
    background-image: url('mes.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

.card .card-top-img{
    height:140px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.card > .btn-float{
    position:absolute;
    bottom:-1.5rem;
    right:1rem;

}

.figure .number{
    display: inline-block;
    font-size:3rem;
    font-family: 'Comfortaa', cursive;
    margin-top:-1rem;
    color:#555;
    vertical-align:bottom;
    padding-right:12px;
}
.figure .label{
    position:relative;
    top:-1rem;
    display:inline-block;
    vertical-align:bottom;
    line-height:1.3rem;
    color:#555;
    font-size:1.2rem;
}

.marker-wrapper{
    position:absolute;
}
.marker-wrapper:before{
    width: 0;
    height: 0;
    content:'';
    border-color: inherit;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 14px solid;
    position:absolute;
    top:-10px;
    left:-9px;
    z-index:5;

}
.marker{
    height:50px;
    width:50px;
    border:2px solid #912991;
    border-color:inherit;
    border-radius:100%;
    position:absolute;
    overflow:hidden;
    text-align:center;
    background-color:#ddd;
    margin-left:-25px;
    margin-top:-62px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.4);
}
.marker img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}