.map{
    width:100%;
    background:#ddd;
    min-height:280px;
}

h1, h2, h3{
    font-family: 'Comfortaa', cursive;
}
#main-content{
    padding: 2em 0;
}
.gallery-form-photo, .add-row{
    float: left;
    margin-right:14px;
    margin-bottom:14px;
    text-align:center;
    vertical-align:top;
    width: 120px;
    height:120px;
    overflow:hidden;
    background-color:#ddd;
    position:relative;
}

.gallery-form-photo i, .add-row i{
    font-size:45px;
    position:absolute;
    width:100%;
    text-align:center;
    left:0;
    top:50%;
    margin-top:-18px;
}

.file-field .form-photo .thumb{
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;

}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
.file-field input[type=file]:hover{ cursor:pointer;}
#top-bar{
    background-color:#A7CE05;
}
#menu-nav{
    background-color:#C6E504 ;
}
#menu-nav .nav-tabs{
    width:100%;
}


.ic
{ display: inline-block; background: url('icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; width: 24px; height: 24px;     vertical-align: middle;
    top: -2px;
    left: -2px;
    position: relative;}
.ic.ic-entity { background-position: -3px -0px;  }
.ic.ic-home { background-position: -30px -0px; }
.ic.ic-news { background-position: -3px -27px;  }
.ic.ic-wallet { background-position: -30px -27px; }