{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva oferta{% else %}{{offer.title}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}
<div class="jumbo-header jumbo-entity form" >
    <div class="jumbotron" {% if entity.first_photo_url %}style="background-image:url('{{entity.first_photo_url}}');"{%endif%}>
        <div class="container">
            <h3>{{entity.name}}</h3>
            {{ entity.address }}
        </div>

    </div>
</div>

<div class="container px-md-5">
        <div class="card mx-md-5" >
          <img class="card-img-top img-fluid" src="{% if offer.banner_image %}{{ offer.banner_image.url }}{% else %}{%static 'imgs/default-offer.png' %}{% endif %}" alt="{{offer.title}}">
            {% if can_edit %}
            <div class="container action-btns">
                <a class="btn btn-primary btn-float btn-lg" href="{% url 'offer_edit' entity.pk offer.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar oferta"><i class="material-icons">edit</i></a>
             </div>
            {% endif %}
          <div class="card-body px-5 py-4">
            <h4 class="card-title">{{offer.title}}</h4>
            <div class="card-text">
                {% autoescape off %}
                    {{offer.description}}
                {% endautoescape %}

                <p>
                    Descuento: {{offer.discount_percent}}
                    Precio: {{offer.discounted_price}}
                </p>
            </div>
          </div>
        </div>
</div>
{% endblock%}

{% block scripts %}

{% endblock scripts %}