{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva oferta{% else %}{{offer.title}}{% endif %}{% endblock%}


{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/daterangepicker.css" %}"/>
{% endblock extra_styles %}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}
<div class="jumbo-header jumbo-entity form" >
    <div class="jumbotron" {% if entity.first_photo_url %}style="background-image:url('{{entity.first_photo_url}}');"{%endif%}>
        <div class="container">
            <h3>{{entity.name}}</h3>
            {{ entity.address }}
        </div>
    </div>
</div>

<div class="container px-md-5">
    <div class="card mx-lg-5 mb-4 p-3">
        <div class="card-body">
            <form method="POST" class="post-form gallery-form" enctype="multipart/form-data">
    {% csrf_token %}
            <div class="card-title primary-title"><h3><i class="ic ic-news"></i> {%if is_new %}Nueva oferta{%else%}Editar oferta{%endif%}</h3></div>
            {{form.media}}

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group" data-links="#offer-title">
                            <label>Título</label>
                            {{ form.title }}
                        </div>

                        <div class="form-group">
                            {{form.begin_date}}
                            {{form.end_date}}
                            <label>Periodo de validez</label>
                            <div class="input-group  flex-wrap">
                                  <input class="form-control" id="dateRange" type="text" name="date_range" placeholder="Desde - hasta...">
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary narrow" id="dateRangeBtn" type="button"><i class="material-icons">event</i></button>
                                  </span>
                                </div>
                            {%if form.begin_date.errors %}
                            <div class="d-block invalid-feedback">
                                {%for error in form.begin_date.errors %} {{error}} {%endfor%}
                            </div>
                            {% endif %}

                            {%if form.end_date.errors %}
                            <div class="d-block invalid-feedback">
                                {%for error in form.end_date.errors %} {{error}} {%endfor%}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-5 mb-4">
                        <label>Imagen de la oferta</label>

                        <div class="card form-photo ">
                          <img class="img-fluid" id="offer-thumb" src="{% if offer.banner_image %}{{ offer.banner_image.url }}{% else %}{%static 'imgs/default-offer.png' %}{% endif %}" alt="{{offer.title}}">

                            <div class=" action-btns outside">
                                <a class="btn btn-primary btn-float btn-lg btn-fab-photo" href="#" data-toggle="tooltip" data-placement="bottom" title="Editar oferta"><i class="material-icons">edit</i></a>
                             </div>

                            <div class="file-field" data-img-target="#offer-thumb">
                            <div class="uploaded">
                                    {{ form.banner_image }}
                                </div>
                            </div>


                        </div>



                    </div>
                </div>


            <div class="form-group" data-links="#offer-description">
                <label>Descripción</label>
                {{ form.description }}

            </div>

            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group" data-links="#offer-discount">
                        <label>Porcentaje de descuento</label>
                        <div class="input-group">
                                {{ form.discount_percent }}
                                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="form-group" data-links="#offer-price">
                        <label>Precio con descuento</label>
                        {{ form.discounted_price }}
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            {{form.active}}
                            <span class="custom-control-label">Activa</span>
                        </label><br>
                        <small style="color: grey">Las ofertas no activas no se mostrarán a los usuarios. Puedes crear una encuesta desactivada y publicarla finalmente cuando creas oportuno.</small>
                    </div>

                </div>
            </div>



            <div class="description text-center">
                <button type="submit" class="right-margin left-margin btn btn-primary btn-lg">{% if is_new %} Crear oferta {% else %} Guardar {% endif %}</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}
<script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/daterangepicker.js" %}"></script>
<script type="text/javascript">
    var startDate = $('input[name="begin_date"]');
    var endDate = $('input[name="end_date"]');

    options = {
        cancelClass: 'btn-flat text-primary',
        locale: calendarLocale
    }
    if (startDate.val()){ options['startDate'] = startDate.val(); }
    if (endDate.val()){ options['endDate'] = endDate.val(); }

    var daterange = $('#dateRange').daterangepicker(options, function(start, end, label){
        startDate.val(start.format('DD/MM/YYYY'));
        endDate.val(end.format('DD/MM/YYYY'));
    });

    $('#dateRangeBtn').on('click', function(){ daterange.focus(); });

</script>
{% endblock scripts %}