{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva entidad{% else %}{{entity.name}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}
<div class="jumbo-header jumbo-entity form" >
    <div class="jumbotron" {% if entity.first_photo_url %}style="background-image:url('{{entity.first_photo_url}}');"{%endif%}>
        <div class="container">
            <h3>{{entity.name}}</h3>
            {{ entity.address }}
        </div>
        <div class="container action-btns">
            <a class="btn btn-primary btn-float btn-lg" href="{% url 'add_entity_offer' entity.pk %}" data-toggle="tooltip" data-placement="bottom" title="Añadir oferta"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="card mb-4 p-3">
        <div class="card-body">
            <div class="card-title primary-title"><h3><i class="ic ic-news"></i> {%if is_new %}Nueva oferta{%else%}Editar oferta{%endif%}</h3></div>
            {{form.as_p}}
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}

{% endblock scripts %}