{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva entidad{% else %}{{entity.name}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}
<div class="jumbo-header jumbo-entity form" >
    <div class="jumbotron" {% if entity.first_photo_url %}style="background-image:url('{{entity.first_photo_url}}');"{%endif%}>
        <div class="container">
            <h3>{{entity.name}}</h3>
            {{ entity.address }}
        </div>
        {%if is_offers_owner %}
        <div class="container action-btns">
            <a class="btn btn-primary btn-float btn-lg" href="{% url 'add_entity_offer' entity.pk %}" data-toggle="tooltip" data-placement="bottom" title="Añadir oferta"><i class="material-icons">add</i></a>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12 p-4">
            <h2 class="primary-title">Ofertas</h2>

            <h3><i class="ic ic-news"></i> Ofertas en curso</h3>
            {% for offer in current_offers %}
                <a href="{% url 'offer_detail' entity.pk offer.pk %}"> {{offer}} </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}

{% endblock scripts %}