{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}

{% block title %}Ofertas{% endblock%}

{% block bodyattrs %}class="offers"{% endblock%}

{% block content %}

<div class="container">
<h3 class="primary-title mb-3"><i class="material-icons mr-2">shopping_basket</i>Ofertas</h3>
<div id="offers-list" class="ajax-load">
            <div class="results">
                {% include 'offers/search_results.html' with offers=offers %}
            </div>
            <div class="loading-spinner"><div class="mes-loader"></div></div>
            <span class="sr-only">Loading...</span>
        </div>
</div>

{% endblock%}
