{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}Ofertas{% endblock%}

{% block bodyattrs %}class="offers"{% endblock%}

{% block content %}

<div class="container">

<div id="entities-list">
            <div class="results">
                {% include 'offers/search_results.html' with offers=offers %}
            </div>
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
            <span class="sr-only">Loading...</span>
        </div>
</div>

<a href="{% url 'add_entity' %}" class="fab btn btn-primary btn-lg rounded-circle btn-float"  data-toggle="tooltip" data-placement="left" title="Añadir entidad">
         <i class="material-icons">add</i>
        </a>

{% endblock%}

{% block scripts %}
<script type="text/javascript">
    var list = $('#entities-list');
    list.ajaxLoader();

    $('.table-action').on('click', function(e){
        e.preventDefault();
        return false;
    });
</script>
{% endblock scripts %}