{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}Entidades{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

<div class="container">
<h3 class="primary-title mb-3"><i class="material-icons mr-2">speaker_notes</i>Noticias</h3>
<div id="news-list" class="ajax-load">
            <div class="results">
                {% include 'news/search_results.html' with news=news %}
            </div>
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
            <span class="sr-only">Loading...</span>
        </div>
</div>

<a href="{% url 'add_news' %}" class="fab btn btn-primary btn-lg rounded-circle btn-float"  data-toggle="tooltip" data-placement="left" title="Añadir entrada">
         <i class="material-icons">add</i>
        </a>

{% endblock%}

{% block scripts %}
<script type="text/javascript">
    $('.table-action').on('click', function(e){
        e.preventDefault();
        return false;
    });
</script>
{% endblock scripts %}