{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva entidad{% else %}{{entity.name}}{% endif %}}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}
<form method="POST" class="post-form gallery-form" enctype="multipart/form-data">
    {% csrf_token %}

<div class="container">

    {{form.form_errors}}
    {{form.city}}
    {{form.media}}
    <div class="card-deck">
        <div class="size-check visible-md-block visible-lg-block"></div>
        <div class="row">
            <div class="col-md-7">
                <div class="card mb-4 px-1">
                    <div class="card-body">
                    <h4 class="card-title"><i class="material-icons">face</i> Usuario</h4>
                    <div class="description">
                        <div class="form-group mb-2" data-links="#entity-name">
                            <label>Usuario</label>

                            <div class="input-group">
                              <input type="text" name="user_placeholder" id="entity_owner" disabled class="form-control" maxlength="250" value="{{form.new_user_username.value|default:''}}">
                                <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#users-modal" style="min-width:0;"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Buscar existente">search</i></button>
                                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#new-user-modal" style="min-width:0;"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Añadir nuevo">add</i></button>
                              </div>
                            </div>
                            {% if form.owner_id.errors %} <div class="alert alert-danger"> {{form.owner_id.errors}}</div> {% endif %}
                            {% if form.new_user_username.errors %} <div class="alert alert-danger"> {{form.new_user_username.errors}}</div> {% endif %}
                            {{ form.owner_id }}
                            {{form.is_new_entity}}
                        </div>

                        <div class="form-group" data-links="#entity-name">
                            <label>Email</label>
                            {{ form.email }}
                        </div>

                    </div>
                    </div>
                </div>
                <div class="card mb-4 px-1">
                    <div class="card-body">
                        <div class="description">
                            <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="file-field image-field d-inline-block" data-ref="#profile-image" data-ref-type="image">
                                    <div class="profile-circle"><img id="profile-image" src="{%if entity.logo %} {{entity.logo_thumbnail.url}}{% endif %}"></div>
                                    <div class="btn btn-primary btn-float" data-toggle="tooltip" data-placement="bottom" title="Actualizar imagen">
                                        <span><i class="material-icons">insert_photo</i></span>
                                        {{form.logo}}
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-8">
                                    <div class="form-group" data-links="#entity-name" style="position:relative;z-index:150;">
                                        <label>Nombre</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>

                        <div class="form-group" data-links="#entity-address">
                            <label>Dirección</label>
                            {{ form.address }}
                            <small style="color: grey">Introduce únicamente la dirección y número de la calle (ej.: "C/ Libreros, 1")</small>
                        </div>

                        <div class="form-group">
                            <label>Descripción</label>
                            {{ form.description }}
                        </div>

                        <div class="form-group">
                            <label>Categorías</label>
                            <div class="tag-select">
                                {% include 'common/tags_declaration.html' with tags=categories %}
                            {{ form.categories }}
                                </div>
                        </div>

                        <div class="form-group">
                            <label>Número de trabajadores</label>
                            {{ form.num_workers }}
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="card mb-4 ">
                    <div id="map" class="map no-resize loading-container">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading-spinner"></i>
                        <span class="sr-only">Loading...</span>
                    </div>

                    <div class="card-body px-3 pb-0">
                            <h4 class="card-title"><i class="material-icons">edit_location</i> Geolocalización</h4>
                            <p class="card-text">Mueve el pin por el mapa hasta posicionarlo en la localización correcta.</p>
                            <div class="form-group">
                                <label>Latitud</label>
                                {{ form.latitude }}
                                {% if form.latitude.errors %} <div class="alert alert-danger"> {{form.latitude.errors}}</div> {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Longitud</label>
                                {{ form.longitude }}
                                {% if form.longitude.errors %} <div class="alert alert-danger"> {{form.longitude.errors}}</div> {% endif %}
                            </div>
                    </div>

                    <div class="card-footer">
                      <small class="text-muted">Puedes hacer zoom en los controles del mapa para ajustar al máximo la posición, o entrar en la vista de pantalla completa.</small>
                    </div>
                </div>

                <div class="card mb-4 ">
                    <div class="card-body">
                        <div class="card-title"><i class="material-icons">monetization_on</i> Moneda social</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Máximo pago en boniatos</label>
                                    <div class="input-group">
                                            {{ form.max_percent_payment }}
                                            <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    {% if form.max_percent_payment.errors %} <div class="alert alert-danger"> {{form.max_percent_payment.errors}}</div> {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Porcentaje de bonificación general</label>
                                    <div class="input-group">
                                        {{ form.bonus_percent_general }}
                                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    {% if form.bonus_percent_general.errors %} <div class="alert alert-danger"> {{form.bonus_percent_general.errors}}</div> {% endif %}
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Porcentaje de bonificación a entidades</label>
                                    <div class="input-group">
                                        {{ form.bonus_percent_entity }}
                                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                    </div>
                                    {% if form.bonus_percent_entity.errors %} <div class="alert alert-danger"> {{form.bonus_percent_entity.errors}}</div> {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-5">
                <div class="card mb-4 pb-4">
                    <div class="social-links card-body pr-5">
                        <div class="card-title"><i class="material-icons">share</i> Redes sociales</div>
                        <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" title="Página de Facebook"><i class="fa fa-facebook " aria-hidden="true"></i></span>
                          {{form.facebook_link}}
                        </div>
                        </div>

                        <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" title="Perfil de Twitter"><i class="fa fa-twitter " aria-hidden="true"></i></span>
                          {{form.twitter_link}}
                        </div></div>

                        <div class="form-group">
                        <div class="input-group">
                          <span data-toggle="tooltip" data-placement="bottom" title="Página web" class="input-group-addon" ><i class="fa fa-globe " aria-hidden="true"></i></span>
                          {{form.webpage_link}}
                        </div></div>

                        <div class="form-group">
                        <div class="input-group">
                          <span data-toggle="tooltip" data-placement="bottom" title="Canal de telegram" class="input-group-addon" ><i class="fa fa-telegram " aria-hidden="true"></i></span>
                          {{form.telegram_link}}
                        </div></div>

                        <div class="form-group">
                        <div class="input-group">
                          <span data-toggle="tooltip" data-placement="bottom" title="Perfil de Instagram" class="input-group-addon" ><i class="fa fa-instagram " aria-hidden="true"></i></span>
                          {{form.instagram_link}}
                        </div></div>

                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title"><i class="material-icons">photo_library</i> Galería </div>
                        {{ gallery_formset.management_form }}
                        {% for gallery_form in gallery_formset %}
                            <div class="gallery-form-photo file-field">
                             {% if gallery_formset.can_delete %}
                                {{ gallery_form.DELETE }}
                            {% endif %}
                                <div class="form-photo">
                                    <div class="thumb" style="background-image:url('{{gallery_form.image.value.url}}');"></div>
                                    <i class="upload material-icons" data-placement="bottom" title="Subir foto">file_upload</i>
                                    {{ gallery_form.image }}
                                </div>
                            {{ gallery_form.order.as_hidden }}
                            {{ gallery_form.title.as_hidden }}
                                </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="description text-center mt-5">
                    <button type="submit" class="right-margin left-margin btn btn-primary btn-lg">{% if is_new %} Crear entidad {% else %} Guardar {% endif %}</button>
                </div>
            </div>

       </div>
    </div>

</div>


</div>

    <div class="modal fade" id="new-user-modal" tabindex="-1" role="dialog" aria-labelledby="new-user-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h3 class="modal-title" id="new-user-label">Nuevo usuario</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
      <div class="modal-body large-padding px-5">
                <div class="form-group">
                    <label>Nombre de usuario</label>
                    {{ form.new_user_username }}
                </div>

                <div class="form-group">
                    <label>Contraseña</label>
                    {{ form.new_user_password }}
                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    {{ form.new_user_first_name }}
                </div>

                <div class="form-group">
                    <label>Apellidos</label>
                    {{ form.new_user_last_name }}
                </div>

               <div class="form-group">
                    <label>Email de usuario</label>
                    {{ form.new_user_email }}
                </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
           <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

{% include 'profile/search_users_popup.html' %}
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
{% include 'common/include_gmaps.html' %}
<script type="text/javascript">

var usersModal = $('#users-modal');
var newUserModal = $('#new-user-modal');
var list = $('#users-list');
var inputUser = $('#{{form.owner_id.auto_id }}');
var displayUser = $('#entity_owner');

var inputUsername = $('input[name="new_user_username"]');
var inputPassword = $('input[name="new_user_password"]');

list.ajaxLoader();
list.find('.results').on('click', 'tr', function(e){
    e.preventDefault();
    var user = $(this);
    inputUser.val(user.attr('data-id'));
    displayUser.val(user.find('td.username').text());
    usersModal.modal('hide');
});

newUserModal.find('.btn-primary').on('click', function (e) {
    if (inputUsername.val() && inputPassword.val()){
        displayUser.val(inputUsername.val());
        inputUser.val('');
    }
})

    $('.gallery-form-photo').formset({
        prefix: '{{ gallery_formset.prefix }}',
        addText: '<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Añadir foto">add</i></div>',
        deleteText: '<div class="btn btn-primary btn-float btn-small" href="#!" data-toggle="tooltip" data-placement="bottom" title="Eliminar foto"><i class="material-icons">delete</i></div>',
        added: function(row){ row.find('.form-photo').removeClass('uploaded').find('.thumb').css('background-image',''); }
    });

  function initMap() {
{% if entity %}
    var entityPosition = new google.maps.LatLng({{ entity.latitude|unlocalize }}, {{ entity.longitude|unlocalize }});
{% else %}
    var entityPosition = new google.maps.LatLng({% settings_value "INITIAL_LATITUDE"|unlocalize %}, {% settings_value "INITIAL_LONGITUDE"|unlocalize %});
{% endif %}

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: entityPosition,
        zoomControl: true,
        scaleControl: true,
        streetViewControl: false,
        mapTypeControl:false
    });

    $('#map').removeClass('loading-container');

    var marker = new RichMarker({
      position: entityPosition,
      map: map,
      draggable:true,
      content: '<div class="marker-wrapper"><div class="marker"><img src="' + '{%if entity.first_photo_url %}{{entity.first_photo_url}}{%else%}{% static "img/venue-icon.png" %}{%endif%}' + '"></div></div>'
    });

    var latInput = $('[name="latitude"]');
    var lngInput = $('[name="longitude"]');

    google.maps.event.addListener(
        marker,
        'drag',
        function() {
            latInput.val( marker.position.lat() );
            lngInput.val( marker.position.lng() );
        }
    );
  }

</script>

{% endblock %}