{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva entidad{% else %}{{entity.name}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}
<div class="jumbo-header jumbo-entity minimal" >
    <div class="jumbotron" {% if entity.first_photo_url %}style="background-image:url('{{entity.first_photo_url}}');"{%endif%}>
        <div class="container text-center">
            <h3>{{entity.name}}</h3>
            {{ entity.address }}
        </div>
        {% if can_edit_entity %}
        <div class="container action-btns">
            <a class="btn btn-primary btn-float btn-lg" href="{% url 'entity_edit' entity.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar entidad"><i class="material-icons">mode_edit</i></a>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7 p-4">
            <div class="row">
                <div class="col-4 feature"><span></span> <div class="display-4">{{ entity.num_workers }}</div><span>Trabajadores</span></div>
                <div class="col-4 feature"><span class="primary-title"><strong>Acepta</strong></span> <div class="display-4"> {{ entity.max_percent_payment }}%</div><span>Boniatos</span></div>
                <div class="col-4 feature"><span class="primary-title"><strong>Bonifica</strong></span> <div class="display-4">{{ entity.bonification_percent }}%</div><span>Boniatos</span></div>
            </div>

            <hr>
            {{entity.description}}
        </div>

        <div class="col-md-5 p-4">
            {% include 'common/gallery.html' with gallery=gallery%}
            <hr>
            <h4 class="mb-3">Enlaces</h4>
            {% include 'common/social_links.html' with obj=entity %}
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}

{% endblock scripts %}