{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva entidad{% else %}{{entity.name}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}
<div class="jumbo-header jumbo-entity minimal" >
    <div class="jumbotron" {% if entity.first_photo_url %}style="background-image:url('{{entity.first_photo_url}}');"{%endif%}>
        <div class="container">
            <h3>{{entity.name}} {% if entity.inactive %} (INACTIVA) {% endif %}</h3>
            {{ entity.address }}
        </div>
        {% if can_edit_entity %}
        <div class="container action-btns">
            <a class="btn btn-primary btn-float btn-lg" href="{% url 'entity_edit' entity.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar entidad"><i class="material-icons">mode_edit</i></a>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7 p-4">
            <div class="row">
                <!--<div class="col-4 feature"><span></span> <div class="display-4">{{ entity.num_workers }}</div><span>Trabajadores</span></div>-->
                <div class="col-4 feature"><span class="primary-title"><strong>Acepta</strong></span> <div class="display-4"> {{ entity.max_percent_payment }}%</div><span>en etics</span></div>
                <div class="col-4 feature"><span class="primary-title"><strong>Bonifica</strong></span> <div class="display-4">{{ entity.bonus_percent_general }}%</div><span>etics</span></div>
                <div class="col-4 feature"><span class="primary-title"><strong>Bonifica</strong></span> <div class="display-4">{{ entity.bonus_percent_entity }}%</div><span>A entidades</span></div>
            </div>

            <hr>
            {% autoescape off %}
            {{entity.description}}
            {% endautoescape %}
        </div>

        <div class="col-md-5 p-4">
            {% include 'common/gallery.html' with gallery=gallery%}
            <hr>
            {% include 'common/social_links.html' with obj=entity %}

            {% if request.user.is_superuser %}
            <hr class="mt-4">
            <h4 class="mb-3">Usuario</h4>
                 <span class="primary-title"><strong>Número de socia:</strong></span>
                {{entity.member_id|default_if_none:'-'}}<br>
                {% if preregister_user %}
                    <span class="primary-title"><strong>Prerregistro: </strong></span> aún no se ha creado usuario<br>
                    <span class="primary-title"><strong>Enlace: </strong></span>
                <a href="{% settings_value 'BASESITE_URL' %}{% url 'preregister' preregister_user.id %}" style="color:blue;" target="_blank">
                {% settings_value 'BASESITE_URL' %}{% url 'preregister' preregister_user.id %}</a>
                {% else %}
                    <span class="primary-title"><strong>Username:</strong></span>
                    {{ entity.user.username }}<br>
                    <span class="primary-title"><strong>Último acceso:</strong></span>
                    {% if entity.user.last_login %} Hace {{entity.user.last_login|timesince}}{% else %} Nunca {% endif %}

                    <h4 class="mt-3">Saldo</h4>
                    <span class="display-4"> {{entity.user.wallet.balance|floatformat:2}}<i class="currency-icon"></i><a href="{% url 'wallets:wallet_detail' entity.user.wallet.pk %}" class="btn ml-2">Ver movimientos</a></span>

            {% endif %}

            {% endif %}
        </div>

        <div class="col-md-12 mb-4">
            <h4 class="mb-3"><i class="ic ic-news"></i> Ofertas en curso</h4>
            {% if offers %}
                {% include 'offers/resume_list.html' with offer_list=offers  %}
            {% else %}
                <div class="text-grey px-3">No hay ninguna oferta activa actualmente.</div>
            {% endif %}

        </div>

        {% if can_edit_entity %}
        <div class="col-md-12">
            <h4 class="mb-3"><i class="material-icons-outlined text-primary">eco</i> Ventajas</h4>

                {% if entity.benefit %}
                <a class="btn btn-primary mr-4" href="{% url 'benefit_detail' entity.benefit.pk %}">Ver ventajas</a>
                {% elif request.user.is_staff or request.user.is_superuser %}
                    <a class="btn btn-primary mr-4" href="{% url 'add_entity_benefit' entity.pk %}" data-toggle="tooltip" title="Añadir ventaja"><i class="material-icons mr-2">local_activity</i>Añadir ventaja</a>
                {% elif request.user.entity == entity %}
                <h5 class="mb-3">Ahora mismo no ofreces ventajas, para añadirlas ponte en contacto con <a href="mailto:madrid@mercadosocial.net">madrid@mercadosocial.net</a> </h5>
                {% endif %}

        </div>
        {% endif %}

    </div>
</div>
{% endblock%}

{% block scripts %}

{% endblock scripts %}