{% extends 'common/list/base.html' %}

 {% block table_head %}
{% if request.user.is_superuser %}
    <th scope="col">Nombre</th>
      <th scope="col">Máx. pago en <br>etics</th>
      <th scope="col">Porcentaje de <br>bonificación</th>
      <th scope="col">Acciones</th>{%endif%}
{% endblock %}


{% block item_row %}

{% include 'entity/row_display.html'  %}

        {% if request.user.is_superuser %}
        <td>{{ item.max_percent_payment }} %</td>
        <td>{{ item.bonus_percent_general }} %</td>
        <td class="table-actions">
            <a class="btn btn-outline-primary" href="{% url 'entity_edit' item.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="material-icons">mode_edit</i></a>
            <a class="btn btn-outline-primary" href="{% url 'entity_offers' item.pk %}"  data-toggle="tooltip" data-placement="bottom" title="Ver ofertas"><i class="material-icons">shopping_basket</i></a>
            {% if item.benefit %}
                <a class="btn btn-outline-primary" href="{% url 'benefit_detail' item.benefit.pk %}"  data-toggle="tooltip" data-placement="bottom" title="Ver ventajas"><i class="material-icons">local_activity</i></a>
            {% endif %}
            <a class="btn btn-outline-primary" href="{% url 'wallets:wallet_detail' item.user.wallet.pk %}"  data-toggle="tooltip" data-placement="bottom" title="Ver movimientos"><i class="material-icons">swap_horiz</i></a>
        </td>


        {% else %}
            <td><div class="feature"><span class="primary-title"><strong>Acepta</strong></span> <div class="lead"> {{ item.max_percent_payment }}%</div><span>en etics</span></div></td>
            <td><div class="feature"><span class="primary-title"><strong>Bonifica</strong></span> <div class="lead"> {{ item.bonus_percent_general }}%</div><span>en etics</span></div></td>
        {% endif %}
{% endblock %}