<ul class="nav nav-tabs nav-fill flex-column flex-md-row flex-lg-row">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}"><i class="ic ic-home"></i> Inicio</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'entity_list' %}active{% endif %}" href="{% url 'entity_list' %}"><i class="ic ic-entity"></i> Entidades</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if is_offers_owner %}active{% endif %}" href="{% url 'user_offers' %}"><i class="ic ic-news"></i> Ofertas</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'user_profile' %}active{% endif %}" href="{% url 'user_profile' %}"><i class="material-icons">person_outline</i> Consumidoras</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'user_wallet' %}active{% endif %}" href="{% url 'user_wallet' %}"><i class="ic ic-wallet"></i> Monederos</a>
    </li>
</ul>