<!DOCTYPE html>
{% load staticfiles %}
{% load settings_value %}
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>{% block title %}Boniatos{% endblock title%}</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link href="{% static "css/material.min.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet" >
    {% block extra_styles %}{% endblock extra_styles %}
  </head>
  <body>

   <nav class="navbar  navbar-expand-sm navbar-light" id="top-bar">
     <div class="container">
      <a class="navbar-brand" href="#">Boniatos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
     </div>
</nav>

{%if user.is_authenticated %}
<div class="nav navbar sticky-top navbar-expand-md " id="menu-nav">
   <div class="container">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav nav-tabs nav-fill flex-column flex-md-row flex-lg-row">
          <li class="nav-item">

            <a class="nav-link {% if request.resolver_match.url_name == "dashboard" %}active{% endif %}" href="{% url 'dashboard' %}"><i class="ic ic-home"></i> Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="ic ic-entity"></i> Mi entidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="ic ic-news"></i> Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="ic ic-wallet"></i> Monedero</a>
          </li>
        </ul>
       </div>
   </div>
</div>
   {% endif %}
<div id="main-content">


    {% block content %}{% endblock content %}
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="{% static "js/material.min.js" %}"></script>
   <script src="{% static "js/common.js" %}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>

