<!DOCTYPE html>
{% load staticfiles %}
{% load settings_value %}
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>{% block title %}Boniatos{% endblock title%}</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link href="{% static "css/magnific-popup.css" %}" rel="stylesheet" >
    <link href="{% static "css/material.min.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet" >

    {% block extra_styles %}{% endblock extra_styles %}
  </head>
  <body {% block bodyattrs %}{% endblock%}>

   <nav class="navbar navbar-expand navbar-light" id="top-bar">
     <div class="container">
      <a class="navbar-brand" href="#">appName</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav ml-auto mt-0">
            {%if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">account_circle</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right pt-0" aria-labelledby="navbarDropdownMenuLink">
                    <div class="bg-light p-3">
                        <div class="primary-title">{{user.get_username}}</div>
                        <small class="text-muted">{{user.email}}</small>
                    </div>

                  <a class="dropdown-item" href="#"><i class="ic ic-home"></i> Inicio</a>
                  <a class="dropdown-item" href="#"><i class="material-icons">mode_edit</i> Editar perfil</a>
                    <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}?next=/"><i class="material-icons">exit_to_app</i> Cerrar sesión</a>
                </div>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="{% url 'login' %}"><i class="fa fa-plug" aria-hidden="true"></i> Entrar</a>
          </li>
            {% endif %}

        </ul>
      </div>
     </div>
</nav>

{%if user.is_authenticated %}
<div class="nav navbar sticky-top navbar-expand-md " id="menu-nav">
   <div class="container">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbar-menu">
           {% if request.user.is_superuser %}
                {% include 'common/navbar_menu_admin.html' %}
           {% else %}
                {% include 'common/navbar_menu_user.html' %}
           {% endif %}
        </div>
   </div>
</div>
   {% endif %}

<div id="main-content">
{% block content %}{% endblock content %}
</div>

   <div class="toast-messages">
       {% for message in messages %}
        <div class="toast {% if message.tags %}{{ message.tags }}{% endif %}">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>Ouch!</strong> {% endif %}
            {{ message }}
        </div>
        {% endfor %}
        {% block toast_messages %}{% endblock toast_messages %}
   </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
    <script src="{% static "js/material.min.js" %}"></script>
    <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>

    {% block scripts %}{% endblock scripts %}
  </body>
</html>

