{% extends 'common/list/base.html' %}

 {% block table_head %}
<td>Entidad</td>
<td class="text-center text-uppercase"><span class="primary-title"><strong>Acepta</strong></span></td>
<td  class="text-center text-uppercase"><span class="primary-title"><strong>Bonifica</strong></span></td>
{% endblock %}

{% block item_row %}



{% include 'entity/row_display.html'  %}

<td class="feature">
    <div class="lead"> {{ item.max_percent_payment }}%</div><span>en etics</span>
</td>
<td class="feature"> <div class="lead">{% if is_entity %} {{ item.bonus_percent_entity }}{% else %} {{ item.bonus_percent_general }}{% endif %}%</div><span>etics</span>
         </td>

{% endblock %}