{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% load l10n %}

{% block title %}Pagos pendientes{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-3 pb-4 pl-lg-5">

            <strong class="text-primary lead">Pagos pendientes</strong>
            <p> Aquí puedes consultar los pagos pendientes de confirmación, tanto los que tú tienes pendiente de revisar (en caso de que seas una entidad) para confirmar la bonificación, como los que has enviado y otra entidad tiene que aceptar para que recibas tu bonificación.</p>
            <div class="text-center"><img class="img-fluid" src="{%static '/imgs/icon-payment.png' %}" alt="Pagos pendientes"> </div>
        </div>
        <div class="col-lg-8 pr-lg-5">
            <h3 class="primary-title mb-3 mt-0">Pagos recibidos</h3>
            <div class="ajax-load" id="payments">
                    <div class="results">
                        {% include 'payment/query.html' with payments=payments %}
                    </div>
                    <div class="loading-spinner"><div class="mes-loader"></div></div>
                    <span class="sr-only">Loading...</span>
                </div>
            <hr class="mt-3">

                <h3 class="primary-title mb-3 mt-1">Pagos enviados</h3>
                {% include 'payment/sent.html' with payments=sent_pending %}
            </div>

    </div>

</div>

{% endblock%}

{% block scripts %}
<script type="text/javascript">
    var payments = $('#payments');
    payments.on('click','.table-actions a', function(e){
        e.stopPropagation();
        var $this = $(this);
        var link = $this.parents('tr').attr('data-href');
        var action = $this.attr('data-action');
        if (!action) return;

        $.post(link, {action:action}, function(data){
            payments.ajaxLoader('reload');
        }).fail(function(request){
            if (request.responseJSON.error_message){
                showToast(request.responseJSON.error_message);
            }
        });

        e.preventDefault();
        return false;
    });


</script>
{% endblock scripts %}

