{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}Entidades{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

<div class="container">
<h3 class="primary-title mb-0">Nuevo pago</h3>
    <p class="lead">Selecciona entidad a la que realizar el pago</p>
        {% include 'common/list/filter_form.html' %}
        {% include 'common/list/ajax_wrapper.html' with query_template='payment/entity.html' %}
</div>

{% endblock%}

{% block scripts %}
<script type="text/javascript">
    $('.table-action').on('click', function(e){
        e.preventDefault();
        return false;
    });
</script>
{% endblock scripts %}