{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}{% if is_new %}Nueva consumidora{% else %}{{person.full_name}}{% endif %}{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

<form method="POST" class="post-form gallery-form" enctype="multipart/form-data">
    {% csrf_token %}

<div class="jumbo-header jumbo-entity form" >
    <div class="jumbotron" style="background-image:url('{% static 'css/mes.jpg' %}');">
        <div class="container">
            <h3>{{object.username}}</h3>
            {{ object.email }}
        </div>

    </div>
</div>

<div class="container px-md-5  mt-4">
        <div class="card mx-md-5 pb-5" >
            <div class="card-body px-5 pb-4">


            <h4 class="card-title">Contraseña</h4>
            <div class="card-text">
                <div class="mt-4">

                    <div class="form-group">
                            <label>Contraseña nueva</label>
                            {{form.new_password1}}
                        <small class="text-muted mt-2 d-block">
                            {{form.new_password1.help_text|safe}}
                        </small>
                        {% for error in form.new_password1.errors %}
                        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                         {{error}}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="form-group" >
                        <label>Confirmar contraseña</label>
                        {{form.new_password2}}

                        {% for error in form.new_password2.errors %}
                        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                         {{error}}
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

              <div class="description text-center">
                <button type="submit" class="right-margin left-margin btn btn-primary btn-lg">Actualizar contraseña</button>
            </div>
          </div>
        </div>

        </div>
</div>

    </form>

{% endblock%}

{% block scripts %}

{% endblock scripts %}