{% extends "base.html" %}
{% load staticfiles %}
{% load settings_value %}
{% load l10n %}

{% block title %}Movimientos{% endblock%}

{% block bodyattrs %}class="entity"{% endblock%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-7 col-md-5"><h3 class="primary-title mb-3"><i class="material-icons mr-2">swap_horiz</i>Movimientos</h3></div>
        <div class="col-sm-5 col-md-7 text-right mb-2">
            <a href="{% url 'bulk_transaction' %}" class="btn btn-secondary btn-lg"><i class="material-icons mr-2">clear_all</i>Mov. masivo</a>
            <a href="{% url 'new_transaction' %}" class="btn btn-primary btn-lg"><i class="material-icons mr-2">add</i>Nuevo movimiento</a>
        </div>

        <div class="col-sm-12">
        {% include "common/activity_graph.html" with graph_data=transactions_bydate floatvalues=True %}
        </div>
        <div class="col-md-12 px-4 pb-4">

            {% include 'common/list/ajax_wrapper.html' with query_template='transaction/query.html' %}

            <hr class="mt-3">
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}
<script type="text/javascript">
    $('.table-action').on('click', function(e){
        e.preventDefault();

        return false;
    });
</script>
{% endblock scripts %}