{% extends 'common/email/base.html' %}
{% load settings_value %}

{% block title %}Registro{% endblock %}

{% block maintitle %}Bienvenid@!{% endblock %}

{% block content %}

<h2 style="color: #757575; line-height: 100%;">Hola, {{entity}}!</h2>

<p>Recibes este email porque eres entidad proveedora del Mercado Social de Madrid. Te informamos de que <strong>te hemos dado de alta para utilizar la nueva app móvil del mercado</strong>. </p>

<p>Muchas entidades de la red ya están registradas. <strong>Salimos a la calle el 10 de mayo</strong>, por fin ha llegado el momento.</p>

<p>Para acceder solo falta un <strong>último paso</strong>, que cuentes con la manera de acceder a tu área privada:</p>

<p>Introduce el nombre de usuario y contraseña que utilizarás a partir de ahora en la app en el siguiente enlace: {% settings_value 'BASESITE_URL' %}{% url 'preregister' token %}</p>

<p>Desde ese momento, podrás acceder al perfil de tu entidad, gestionar tus ofertas, así como acceder al uso de los nuevos puntos etics. Si tenías saldo pendiente de boniatos (positivo o negativo) verás que lo recuperamos en esta nueva etapa convertidos en puntos etics (bonificaciones en compra).</p>

<p>Tenemos una nueva app:</p>
<ul>
    <li>Que establece un nuevo canal de comunicación con nuestras consumidoras y nuestras entidades.</li>
    <li>Que nos proporciona herramientas para ser más visibles.</li>
    <li>Que permite recibir bonificaciones y pagar con ellas.</li>
    <li>Que nos da la oportunidad de actuar en colectivo y apoyar otra forma de hacer economía: social y solidaria.</li>
</ul>

{% endblock%}

{% block call_button %}

{% url 'preregister' token as link %}
{% settings_value 'BASESITE_URL' as basesite %}

{% include 'common/email/button.html' with link_text='Registro' link_href=basesite|add:link %}
{% endblock call_button %}