{% extends 'common/email/base.html' %}
{% load settings_value %}

{% block title %}Registro{% endblock %}

{% block maintitle %}Bienvenid@!{% endblock %}

{% block content %}

<h2 style="color: #757575; line-height: 100%;">Hola, {{entity}}!</h2>

<p>Recibes este correo electrónico porque eres consumidor/a del Mercado Social. Te informamos de que te hemos dado de alta en la nueva aplicación móvil del Mercado Social. </p>

<p>Solo falta un último paso para empezar a usarla: que accedas a tu área privada. Introduce el nombre de usuario y contraseña que utilizarás a partir de ahora para entrar.</p>

<p>Una vez hecho esto, podrás desde tu movil acceder a tu perfil, consultar tu saldo en etics (sistema de bonificaciones del Mercado Social), ver y localizar todas las entidades que forman parte del mercado, recibir ofertas y convocatorias interesantes y muchas cosas más.</p>
<p></p>
<p>Entra, disfruta y practica el consumo consciente.</p>


{% endblock%}

{% block call_button %}

{% url 'preregister' token as link %}
{% settings_value 'BASESITE_URL' as basesite %}

{% include 'common/email/button.html' with link_text='Registro' link_href=basesite|add:link %}
{% endblock call_button %}